<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>Pet Clinic</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css.css">
    </head>
    <body>
        <header>
           <img src="/logo.jpg">
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a th:href="@{'/customer/pets'}"}>Pets</a></li>
                    <li><a th:href="@{'/customer/vets'}">Veterinarians</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <p class="aligncenter">
                <img src="/dog.png" alt="dog" class="center">
            </p>
            <p class="aligncenter">
                <a th:href="@{'/customer/petchoose'}" class="myButton">Book Appointment</a>
            </p>
        </main>
    </body>
</html>