<!DOCTYPE html>
<html>
    <head>
        <title>Pet Clinic</title>
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css.css">
    </head>
    <body>
        <header>
           <img src="logo.jpg">
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#pets">Pets</a></li>
                    <li><a href="#vets">Veterinarians</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1 class="aligncenter">Final Information:</h1>

            <form class="data" action="/action_page.php">
                <input type="text" placeholder="Desired Date" name="first">
                <input type="long-text"placeholder="Short Decription" name="last">
                <div class="aligncenter">
                    <button>Cancel</button>
                    <button>Finish</button>
                </div>
            </form>
        </main>
    </body>
</html>