<!DOCTYPE html>
<html>
<head>
    <title>Pet Clinic</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css.css">
</head>
<body>
<header>
    <img src="/logo.jpg">
</header>
<main>
    <form class="data" name='f' action="/login" method='POST'>
        <div class="aligncenter">
            <input type="text" placeholder="Username" name='username'>
            <input type='password' placeholder="Password" name="password">
            <div class="aligncenter">
                <button name="submit" type="submit" value="submit">Log In</button>
            </div>
        </div>
    </form>
</main>
</body>
</html>
