<!DOCTYPE html>
<html>
    <head>
        <title>Pet Clinic</title>
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css.css">
    </head>
    <body>
        <header>
           <img src="logo.jpg">
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#pets">Pets</a></li>
                    <li><a href="#vets">Veterinarians</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1 class="aligncenter">Choose Pet:</h1>
            <form class="data" action="/action_page.php">
                <select name="animal">
                    <option value="dog">Rex</option>
                    <option value="cat">John</option>
                    <option value="">Steve</option>
                </select>
                <p class="aligncenter">
                    <img src="vet.png" alt="vet" class="center">
                </p>
                <div class="aligncenter">
                    <button>Create New</button>
                    <button>Create New</button>
                    <button>Continue</button>
                </div>
            </form>
        </main>
    </body>
</html>