<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>Pet Clinic</title>
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css.css">
    </head>
    <body>
        <header>
           <img src="/logo.jpg">
            <nav>
                <ul>
                    <li><a th:href="@{'/customer'}">Home</a></li>
                    <li><a href="#pets">Pets</a></li>
                    <li><a th:href="@{'/customer/vets'}">Veterinarians</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Weight</th>
                        <th>Age</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pet:${pets}" >
                        <td th:text="${pet.getName()}"></td>
                        <td th:text="${pet.getPetType()}"></td>
                        <td th:text="${pet.getWeight()}"></td>
                        <td th:text="${pet.getAge()}"></td>
                        <td th:text="${pet.getPetStatus()}"></td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>