<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Pet Clinic</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css.css">
</head>
<body>
<header>
    <img src="logo.jpg">
    <nav>
        <ul>
            <li><a th:href="@{'/vet'}">Home</a></li>
            <li><a th:href="@{'/vet/pets'}">Pets</a></li>
            <li><a th:href="@{'/vet/customers'}">Customers</a></li>
        </ul>
    </nav>
</header>
<main>
    <table class="styled-table">
        <thead>
        <tr>
            <th>Fisrtname</th>
            <th>Lastname</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet:${vets}" class="tooltipTrigger">
            <td th:text="${vet.getFirstName()}"></td>
            <td th:text="${vet.getAge()}"></td>
            <td th:text="${vet.getEmail()}"></td>
        </tr>
        <tr class="tooltipTrigger">
            <td>Dima</td>
            <td>20</td>
            <td>biban@balaban.com</td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
