<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Pet Clinic</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css.css">
</head>
<body>
<header>
    <img src="logo.jpg">
    <nav>
        <ul>
            <li><a th:href="@{'/vet'}">Home</a></li>
            <li><a th:href="@{'/vet/vetpets'}">Pets</a></li>
            <li><a th:href="@{'/vet/customers'}">Customers</a></li>
        </ul>
    </nav>
</header>
<main>
    <table class="styled-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Pet</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="appointment:${appointments}" class="tooltipTrigger">
                <td th:text="${appointment.getDate()}"></td>
                <td th:text="${appointment.getPet().getName()}"></td>
                <td th:text="${appointment.getDescription()}"></td>
            </tr>
        </tbody>
    </table>
</main>
</body>
</html>
