<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head>
        <title>Pet Clinic</title>
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css.css">
    </head>
    <body>
        <header>
           <img src="/logo.jpg">
            <nav>
                <ul>
                    <li><a th:href="@{'/customer'}">Home</a></li>
                    <li><a th:href="@{'/customer/pets'}"}>Pets</a></li>
                    <li><a th:href="@{'/customer/vets'}">Veterinarians</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="split left">
              <div class="centered">
                <img src="/vet.png" alt="vet">
              </div>
            </div>

            <div class="split right">
              <div class="centered">
                <table class="vet-table">
                    <thead>
                        <tr>
                            <th colspan="2">Vet's Information:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td th:text="${vet.getFirstName()}"></td>
                            <td th:text="${vet.getLastName()}"></td>
                        </tr>
                        <tr >
                            <td th:text="${vet.getEmail()}"></td>
                            <td>
                                <span th:text="${vet.getYearsOfExperience()}"></span>
                                <span> y.e.</span>
                            </td>
                        </tr>
                        <tr >
                            <td th:text="${vet.getSpecializations()}" colspan="2" ></td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
        </main>
    </body>
</html>